################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/test_2018/v15
/test_2018/bin/Debug
/test_2018/obj/Debug
/packages
